<h2>Your Cart</h2>
<p id="notice"><%= notice %></p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @shopping_cart.products.each do |pdt| %>
      <tr>
        <td><%= pdt.id %></td>
        <td><%= pdt.title %></td>
        <td><%= pdt.description %></td>
        <td><%= pdt.price %></td>
        <td><%= button_to 'Delete Item', line_item_path(:item_id => pdt.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table> 

<%= link_to 'Back', :back %>
