<h2>Your Cart</h2>
<p id="notice"><%= notice %></p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Title</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @shopping_cart.line_items.each do |line| %>
      <tr>
        <td><%= line.quantity%></td>
        <td><%= line.product.title %></td>
        <td><%= number_to_currency(line.product.price) %></td>
        <td><%= button_to 'Delete Item', line_item_path(:item_id => line.product.id), method: :delete %></td>
    <% end %>
     <td><%= @shopping_cart.cart_calculator %></td>
      </tr>
  </tbody>
</table> 

<%= link_to 'Back', :back %>
