<div class="class= container ">
  <div class="col-md-8 col-md-offset-3">
    <h1>New order</h1>
  <%= form_for(@order) do |f| %>
    <% if @order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field row">
      <%= f.label :name %><br>
      <%= f.text_field :name, {:class => "col-md-8"} %>
    </div>
    <div class="field row">
      <%= f.label :email %><br>
      <%= f.text_field :email, {:class => "col-md-8"} %>
    </div>
    <!-- ============== -->
    <div class="field row">
      <%= label_tag :card_number, "Credit Card Number" %><br>
      <%= text_field_tag :card_number, nil, name: nil  %>
    </div>
    <div class="field row">
      <%= label_tag :cvv, "CVV" %><br>
      <%= text_field_tag :cvv, nil, name: nil %>
    </div>
    <div class="field row">
      <%= label_tag :card_month, "Card expiration" %><br>
      <%= select_month nil,{add_month_numbers: true }, {name: nil, id: "card_month"} %>
      <%= select_year nil,{start_year: Date.today.year, end_year: Date.today.year+15 }, {name: nil, id: "card_year"} %>
    </div>
  <!--     ====================-->   
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  </div>
</div>
