<p id="notice"><%= notice %></p>

<h2>Thanks, your order number is <strong><%= @order.id %></strong>!</h2>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Items Purchased:</strong>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @order.line_items.each do |line| %>
        <tr>
          <td><%= line.product.title %></td>
          <td><%= number_to_currency(line.product.price) %></td>
          <td><%= line.quantity %></td>
          <td><%= number_to_currency(line.quantity * line.product.price) %></td>
      <% end %>
        </tr>
        <tr>
          <th>Subtotal</th>
          <td></td>
          <td></td>
          <th><%= number_to_currency(@order.amount) %></th>
        </tr>
    </tbody>
  </table> 

</p>

<%= link_to 'Keep Shopping!', products_path %>
