<div class="container col-md-6 col-md-offset-3" >
<h2>Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, {:class => "col-md-8"} %>
  </div>
   

  <div class="row">
    <div class="field col-md-6">
      <div>
      <%= f.label :password %><br />
      <%= f.password_field :password, {:class => "col-md-8"} %>
      </div>
    </div>
  </div>


  <div class="row">
      <div class="field col-md-6">
      <% if devise_mapping.rememberable? -%>
        <div>
        <%= f.check_box :remember_me %> 
        <%= f.label :remember_me %>
        </div>
      <% end -%>
    </div>
  </div>

  <div>
    <%= f.submit "Sign in" %>
  </div>

  <div style="margin-top: 20px;">
    <%= link_to "Forgot your password?", new_password_path(resource_name) %>
  </div>

<% end %>


</div>

