<div class="row">
  <div class="col-lg-6">
<p id="notice"><%= notice %></p>

<div class="col-lg-8 col-md-6 col-sm-4">
      <div class="panel panel-default bootcards-media">
        <div class="panel-heading">
          <h3 class=""><%= link_to @product.title, product_path(@product.id) %></h3>
        </div>
        <img src="<%= @product.image_url %>" class="img-responsive"/>
        <div class="panel-body">
          <%= "#{@product.description}..." %>
        </div>
        <div class="panel-footer">
          <div class="btn-group btn-group-justified">
            <div class="btn-group">
              <button class="btn btn-default">
                <i class="fa fa-arrow-down"></i>
                <%= number_to_currency(@product.price) %>
              </button>
            </div>
            <div class="btn-group">
              <%= button_to "Edit", edit_product_path(@product), {:method => "get", :class => "btn btn-default"} %>
            </div>
            <div class="btn-group">
              <%= button_to'Buy!', line_items_path(product_id: @product, shopping_cart_id: current_user.shopping_cart.id), {:class => "btn btn-default"} %>
            </div>
          </div> 
        </div>
      </div>
    </div>
</div>
</div>


