<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <p id="notice"><%= notice %></p>

      <!-- Full product div -->
<!--       <div class="row">
      <div class="col-lg-8 col-md-6 col-sm-4 offset-3">
        <div id="content"> -->

          <!-- Image div, left side -->
          <div class="row">
          <div id="product-image" class="col-md-6">
            <img src="<%= @product.image %>" width="100%" >
          </div>

          <!-- Desc div, right side -->
          <div id="product-information" class="col-md-6">
            <h1><%= @product.title %></h1>
            <div id="product-pricing">                
              <h4 class="price"><%= number_to_currency(@product.price)  %></h4>      
              <div class="btn-group">
                <%= button_to "Add to Cart", add_to_cart_path(@product.id), 
                {:class => "btn btn-default"}  %> 
              </div>
            </div>
            <div id="product-description">
              <%= @product.description  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


