<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up!</h4>
      </div>
      <div class="modal-body">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <div class="form-group">
        <div><%= f.label :name, :class => "col-lg-12 control-label" %><br />
          <div class="col-lg-12">
          <%= f.text_field :name, :class => "form-control" %>
          </div>
        </div>
    </div>

    <div class="form-group">
        <div><%=  f.label :email, :class => "col-lg-12 control-label" %><br />
          <div class="col-lg-12">
          <%= f.email_field :email, :class => "form-control" %>
          </div>
        </div>
    </div>

    <div class="form-group">
        <div><%=  f.label :password, :class => "col-lg-12 control-label" %><br />
          <div class="col-lg-12">
          <%= f.password_field :password, :class => "form-control" %>
          </div>
        </div>
    </div>

    <div class="form-group">
        <div><%=  f.label :password_confirmation, :class => "col-lg-12 control-label" %><br />
          <div class="col-lg-12">
          <%= f.password_field :password_confirmation, :class => "form-control" %>
          </div>
        </div>
    </div>
  
    <div class="col-lg-12">
       <%= f.submit "Sign up", :class => "btn btn-primary sub" %>
    </div>
<% end %>

      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>
</div>